@charset "UTF-8";
/* @font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: url(../font/Anton-Regular.eot);
    src: url(../font/Anton-Regular?#iefix) format('embedded-opentype'),
         url(../font/Anton-Regular.woff) format('woff'),
         url(../font/Anton-Regular.ttf) format('truetype');
} */

/* 반응형,모바일에서 모든요소의 크기에 padding,border 포함 */
*,:before,:after {box-sizing: border-box;}

/* body에 들어갈수있는 모든태그의 여백빼기 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0;}

/*html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}

button { cursor: pointer; }
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img {border: 0; vertical-align: top}
/* 리스트 기호 빼기 */
ol,ul {list-style: none}
/* 태그 기본 기울임꼴 제거 */
address,em {font-style: normal}
strong {font-weight: normal;}
/* 페이지안에서 가장 많은 링크색 지정 */
a {
    text-decoration: none;
    color: #222;
    /* 모바일 크롬,사파리에서 클릭시 색상 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌*/
iframe {overflow: hidden; border: 0}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {border-collapse: collapse; border-spacing: 0; width: 100%}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴, ios 둥근모서리, 기본스타일 제거 */
input,select,textarea,button {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

/* 익스 select 화살표빼기 */
select::-ms-expand {display:none}

/* textarea 리사이즈기능 빼기 */
textarea {resize: none}

/* 페이지안의 모든 폰트의 줄간격을 1.5로 통일시킴
모바일 크롬, 사파리의 텍스트 자동확대 방지*/
body { line-height: 1.5; -webkit-text-size-adjust: none }





/*********************** 공통스타일 *************************/
/* 스크롤바 강제생성: pc브라우저에서 body hidden시 우측스크롤바가 사라지므로 화면이 17px 움직이면서 보이게되며 html에 우측스크롤바를 강제생성 */
html {overflow-y: scroll;}


body,input,button,select,textarea,table {
    font-family:'Noto Sans KR','Apple SD Gothic Neo',sans-serif;
    font-size: 15px;
    color:#222;
    letter-spacing: -0.025em;
}

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend,caption,.blind {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px}

/* float해제 */
.clearfix:after { content: ''; display: block; clear: both; }

/* placeholder 공통 */
::-webkit-input-placeholder {color:#bbb;} /* Webkit,크롬,사파리 */
:-moz-placeholder {color:#bbb;} /* Firefox 4-18 */
::-moz-placeholder {color:#bbb; opacity:1;} /* Firefox 19+ */
:-ms-input-placeholder {color:#bbb !important;} /* IE10+ */

/* 텍스트 선택 컬러 */
/* ::selection { background-color: #ef151e; color: #ffffff; } */

/* skip navgation */
#skipNavi {position: relative;}
#skipNavi a {
    position: absolute;
    left: 0;
    top:-9999px;
    width:100%;
    height: 40px;
    background: #000;
    color:#fff;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    z-index: 99999;
}
#skipNavi a:focus, #skipNavi a:active, #skipNavi a:hover {top:0;}







/* 폼요소 공통스타일 */
/* ie input x버튼, password 눈아이콘 제거 */
input[type="text"]::-ms-clear {display: none;}
input[type="password"]::-ms-reveal {display: none;}

input[type="text"] {
    width:100%;
    border:none;
    background: #f0f0f0;
    height: 45px;
    outline:none;
    padding-left:15px;
    color:#292929;
    box-sizing: border-box;
}
input.input_small {width:200px;}

/* 체크박스 공통 */
.checkbox_wrap { display: inline-block;}
.checkbox_wrap label {
    font-size: 16px;
    color: #292929;
    position: relative;
    padding-left: 36px;
    cursor: pointer;
}
.checkbox_wrap label:before {
    content: '';
    position: absolute;
    left:0;
    top:-2px;
    width:26px;
    height:26px;
    border:2px solid #000;
}
.checkbox_wrap label em {color:#009223;}
.checkbox_wrap input[type="checkbox"]:checked + label:before {
    background: url(../images/icon_checkbox.png) no-repeat 1px 2px;
}

/* 라디오 공통 */
.radio_wrap { display: inline-block; margin-right: 20px;}
.radio_wrap label {
    font-size: 16px;
    color: #292929;
    position: relative;
    padding-left: 36px;
    cursor: pointer;
}
.radio_wrap label:before {
    content: '';
    position: absolute;
    left:0;
    top:-2px;
    width:26px;
    height:26px;
    border-radius: 50%;
    border:2px solid #dddddd;
}
.radio_wrap input[type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    left:8px;
    top:6px;
    width:14px;
    height:14px;
    border-radius: 50%;
    background: #009223;
}

/* select 공통 */
.select_wrap {
    display: inline-block;
    width:100%;
    border:1px solid #ccc;
    position: relative;
}
.select_wrap:after {
    content: '';
    position: absolute;
    right:10px;
    top:50%;
    margin-top:-3px;
    width:0;
    height:0;
    border: 7px solid transparent;
    border-top-color: #444;
    /* background: url(../images/icon_select_arr.png) no-repeat; */
}
.select_wrap select {
    width:100%;
    border:none;
    height:45px;
    padding: 0 10px;
    color:#999;
    /* after화살표가 위에 있으므로 화살표에서 클릭이 안되어
    select을 제자리에서 띄우고 기본배경색 없애줌 */
    position: relative;
    z-index: 10;
    background: none;
}

/* textarea 공통 */
textarea {
    width:100%;
    background: #f0f0f0;
    border:none;
    padding: 15px;
    outline: none;
    box-sizing: border-box;
}



/* 버튼 공통 스타일 */
.btn {
    /* 좌우배치 */
    display: inline-block;
    font-size: 16px;
    text-align: center;
    /* 좌우배치시 수직정렬 */
    vertical-align: middle;
    box-sizing: border-box;
    padding:5px 20px;
    border:1px solid #333;
}
.btn_white {
    line-height: 46px;
    border:2px solid #009223;
    color:#009223;
}
.btn_green {
    background: #009223;
    line-height: 50px;
    color:#fff;
}
.btn_regist:after {
    content: '';
    display: inline-block;
    width:21px;
    height:16px;
    background: url(../images/icon_reg.png) no-repeat;
    margin-left: 5px;
}

/* 다운로드 버튼 공통 */
.btn_download {
    display: inline-block;
    padding: 7px 6px;
    /* 아래쪽 4px 간격없애기 */
    vertical-align: top;
}
.btn_download:hover {border-bottom: 1px solid #000;}
.btn_download:hover .icon_file {margin-top: -1px;}

.icon_file {
    display: inline-block;
    width:20px;
    height:20px;
    background: url(../images/sprite_pc_new.png) no-repeat;
}
.icon_file.mp4 { background-position-x:0; }
.icon_file.txt { background-position-x:-25px; }
.icon_file.ppt { background-position-x:-50px; }
.icon_file.doc { background-position-x:-75px; }
.icon_file.xls { background-position-x:-100px; }
.icon_file.pdf { background-position-x:-125px; }


/* 폰트컬러 공통 */
.txt_red {color:#962639;}
.txt_white {color: #fff !important;}

/* 라벨 공통 */
/* 공통처리시 모양관련만 처리하고 위치는 따로처리 */
.label { display: inline-block; font-size: 16px; padding:5px 38px 6px; background: #5f5f5f; text-align: center; color:#fff; }
.label_green {background: #00AA3C;}

/* 게시판 테이블 공통 */
.tbl_board_wrap {border-top:1px solid #000;}
.tbl_board_wrap table {table-layout: fixed;}
.tbl_board_wrap thead th {
    height: 60px;
    border-bottom: 1px solid #eee;
    color: #000;
    font-weight: 400;
    background: #f5f5f5;
}
.tbl_board_wrap thead th.th01 {width:8%;}
.tbl_board_wrap thead th.th03 {width:13%;}

.tbl_board_wrap td {height: 60px; border-bottom: 1px solid #eee; text-align: center;}
.tbl_board_wrap td.left_td {text-align: left;}
.tbl_board_wrap tr:last-child td {border-bottom: 1px solid #ddd;}

/* 한줄말줄임 */
.tbl_board_wrap .link {
    display: inline-block;
    max-width: 90%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.tbl_board_wrap .link:hover {
    text-decoration: underline;
}

/* 게시판 pagination */
.pagination {text-align: center; margin-top: 20px;}
.pagination .inner { display: inline-block; vertical-align: top; }

.pagination .page {float: left; margin: 0 8px;}
.pagination a,
.pagination strong {
    float: left;
    height:40px;
    line-height: 40px;
}
.pagination .page a,
.pagination .page strong {
    width:40px;
    border:1px solid #eee;
    margin: 0 5px;
}
.pagination .page a:hover {
    background: #bb0841;
    border-color: #bb0841;
    color: #fff;
}
.pagination .page strong {
    background: #bb0841;
    border-color: #bb0841;
    color: #fff;
}

.pagination .first .icon {background-position: -397px -310px;}
.pagination .prev .icon {background-position: -367px -182px;}
.pagination .next .icon {background-position: -27px -431px;}
.pagination .last .icon {background-position: -443px -388px;}

/* 문의게시판 공통 */
.tbl_inquiry_wrap .note {text-align: right;}
.tbl_inquiry_wrap .star {
    display: inline-block;
    width:7px;
    height:6px;
    background: url(../images/icon_ess.png) no-repeat;
    vertical-align: 2px;
}
.tbl_inquiry_wrap th {
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
    font-weight: 500;
}
.tbl_inquiry_wrap th.top_th {vertical-align: top; padding-top: 20px;}
.tbl_inquiry_wrap td {
    border-bottom: 1px solid #e8e8e8;
    padding:12px 0;
}
.tbl_inquiry_wrap .email {margin:0 25px;}

/* 아이콘 공통 */
.icon {
    display: inline-block;
    background:url(../images/ico_lnb.png) no-repeat;
    background-size: 200px;
}
.icon_barcode { width:25px; height: 25px; }

/* 모바일 sprite사용시 위치도 절반 줄여야함 */
.icon_logout { width:25px; height: 25px; background-position: -25px 0;}
.icon_cart { width:30px; height: 28px; background-position: 0 -30px;}
.icon_gift { width:30px; height: 28px; background-position: -50px -30px;}
.icon_find { width:30px; height: 28px; background-position: -100px -30px;}
.icon_map { width:30px; height: 28px; background-position: -150px -30px;}
.icon_group { width:16px; height: 18px; background-position: 0 -60px;}
.icon_order { width:16px; height: 18px; background-position: -25px -60px;}





/* ios사파리는 상단에 있을경우만 스크롤이 막히므로
메뉴버튼클릭시 body를 위로 올려줌 */
body.hidden {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    overflow: hidden;
}

/* 모바일단말 최소크기지정 */
/* 서브페이지에서 헤더의 기준이 사라지기때문에 미리걸어둠 창기준이 되기 때문에 기준주기 */
#wrap {
    /* min-width: 320px; 가변높이 대응해야하기때문에 주석처리
    서브페이지 인트로듀스 txt 애니메이션 때문에*/
    position: relative;
}

#header {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height: 51px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-width: 320px;
    z-index: 9999;
    transition: background-color 0.1s;
}
#header.scroll {background: #6e0000; border:none;}

#header .btn_open {
    float: left;
    width:50px;
    height: 50px;
    background: url(../images/ico_gnb.png) no-repeat 50% 50%;
    background-size: 50px;
    text-indent: -9999px;
}

#header .logo {
    position: absolute;
    left:50%;
    top:0;
    transform: translateX(-50%);
}
#header .logo img {width:100px;}

